.v-application a {
  text-decoration: none;
  color: initial;
}

.v-main__wrap > div {
  background: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.v-toolbar {
  /* .v-toolbar__image .v-image__image {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  } */

  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: none;

    .v-card {
      width: 100%;
    }
  }
}

.v-app-bar--is-scrolled .v-toolbar__extension {
  display: flex;
}

.v-tabs {
  .v-tabs-slider-wrapper {
    color: white !important;
  }
}

.v-theme--dark.v-application .theme--parent {
  background: #121212;
  color: #ffffff;
}

.v-theme--light.v-application .theme--parent {
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.87);
}

.v-theme--dark {
  .v-list.v-list--nav {
    background: #121212;

    .v-list-item {
      background: #1e1e1e;
    }
  }

  .v-chip {
    a .v-chip__personalized {
      color: #fff !important;
    }
  }
}

.v-theme--light {
  .v-list.v-list--nav {
    background: #f2f2f2;

    .v-list-item {
      background: #fff;
    }
  }

  .v-chip {
    a .v-chip__personalized {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

.v-list--three-line .v-list-item .v-list-item__subtitle,
.v-list-item--three-line .v-list-item__subtitle {
  -webkit-line-clamp: 3 !important;
  line-clamp: 3 !important;
}

.v-card {
  .v-card__title {
    font-size: 1rem;
  }
}

.div-fix-for-tabs::before {
  display: block;
  content: " ";
  margin-top: -176px;
  height: 176px;
  visibility: hidden;
}

.v-tooltip__content {
  background: rgba(97, 97, 97, 1) !important;
  opacity: 1 !important;
  margin: 0 15px;
}

.disabled .v-image__image.v-image__image--cover {
  filter: grayscale(100%);
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 75%;
}
