:root {
  --footer-height: 44px;

  .v-theme--light {
    --v-theme-background: 242, 242, 242;
  }

  .v-theme--dark {
    --v-theme-background: 18, 18, 18;
  }
}

.v-application a {
  text-decoration: none;
  color: rgb(var(--v-theme-on-background));
}

.v-toolbar {
  /* .v-toolbar__image .v-image__image {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  } */

  .v-toolbar__extension {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: none;

    .v-card {
      width: 100%;
    }
  }
}

.v-app-bar--is-scrolled .v-toolbar__extension {
  display: flex;
}

.v-theme--dark {
  .v-list.v-list--nav {
    .v-list-item {
      background: rgba(var(--v-theme-surface));
    }
  }

  .v-chip {
    a .v-chip__personalized {
      color: #fff !important;
    }
  }
}

.v-theme--light {
  .v-list.v-list--nav {
    .v-list-item {
      background: rgba(var(--v-theme-surface));
    }
  }

  .v-chip {
    a .v-chip__personalized {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

.v-card {
  .v-card-title {
    font-size: 1rem;
  }
}

.v-tooltip__content {
  background: rgba(97, 97, 97, 1) !important;
  opacity: 1 !important;
  margin: 0 15px;
}

.disabled .v-image__image.v-image__image--cover {
  filter: grayscale(100%);
}

.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 75%;
}
